name: Update Docs

on:
  workflow_dispatch:

jobs:
  update-docs:
    name: Update Docs
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python 3.x
      uses: actions/setup-python@v6
      with:
        python-version: 3.x

    - name: Download BaNaNaS
      run: git clone https://github.com/OpenTTD/BaNaNaS.git bananas

    - name: Setup vcpkg
      id: vcpkg
      uses: OpenTTD/actions/setup-vcpkg@v6

    - name: Install dependencies
      run: |
        echo "::group::Update apt"
        sudo apt-get update
        echo "::endgroup::"

        echo "::group::Install dependencies"
        sudo apt-get install -y --no-install-recommends \
          liballegro4-dev \
          libcurl4-openssl-dev \
          libfontconfig-dev \
          libharfbuzz-dev \
          libicu-dev \
          liblzma-dev \
          liblzo2-dev \
          libogg-dev \
          libopus-dev \
          libopusfile-dev \
          zlib1g-dev \
          # EOF
        echo "::endgroup::"

        echo "::group::Install vcpkg dependencies"
        # We only use breakpad from vcpkg, as its CMake files
        # are a bit special. So the Ubuntu's variant doesn't work.
        ${{ steps.vcpkg.outputs.vcpkg }} install breakpad
        echo "::endgroup::"
      env:
        DEBIAN_FRONTEND: noninteractive

    - name: Install GCC problem matcher
      uses: ammaraskar/gcc-problem-matcher@master

    - name: Get OpenGFX
      run: |
        mkdir -p ~/.local/share/openttd/baseset
        cd ~/.local/share/openttd/baseset

        echo "::group::Download OpenGFX"
        curl -L https://cdn.openttd.org/opengfx-releases/0.6.0/opengfx-0.6.0-all.zip -o opengfx-all.zip
        echo "::endgroup::"

        echo "::group::Unpack OpenGFX"
        unzip opengfx-all.zip
        echo "::endgroup::"

        rm -f opengfx-all.zip

    - name: Build OpenTTD
      run: |
        git clone https://github.com/OpenTTD/OpenTTD.git OpenTTD
        cd OpenTTD

        mkdir build
        cd build

        echo "::group::CMake"
        cmake ..
        echo "::endgroup::"

        echo "::group::Build"
        echo "Running on $(nproc) cores"
        echo "Using max $(($(nproc) * 4)) jobs"
        cmake --build . -j $(($(nproc) * 4))
        echo "::endgroup::"

        cd ../../

    - name: Download grf updates
      run: |
        mkdir -p ~/.local/share/openttd/content_download
        cp -r grf_tars ~/.local/share/openttd/content_download/newgrf
        python3 generate_cmds.py
        ./OpenTTD/build/openttd -D localhost:0000 < cmds.txt

        mkdir grfs
        cd grf_tars
        for file in *; do
          rm $file
          file=`ls -t ~/.local/share/openttd/content_download/newgrf \
            | grep "${file:0:8}.*" \
            | sed -n "1p" \
          `
          cp ~/.local/share/openttd/content_download/newgrf/$file $file
          mkdir tmp
          tar -xC tmp -f $file
          cp tmp/*/*.grf ../grfs/${file}.grf
          rm -r tmp
        done
        cd ..
        rm -r OpenTTD
    - name: Update docs
      run: |
        python3 get_badge_labels.py

    - name: Commit changes
      run: |
        date=$(date +'%Y-%m-%d_%H-%M')
        git add -u
        git add grf_tars/*
        git config --global user.email "kapitan.cypek@gmail.com"
        git config --global user.name "Librarian (bot)"
        git commit -m "Update: With the state of BaNaNaS at $date."

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        branch: update-docs
        branch-suffix: timestamp
        author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
        committer: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
